@using Microsoft.AspNetCore.Mvc.TagHelpers
@model project.ViewModels.CreateOrderViewModel
@{
    ViewData["Title"] = "Новый заказ";
    Layout = "_Layout";
}

<div class="main-container">
    <h1>@ViewData["Title"]</h1>
    <div class="w-50">
        <form class="mt-3" method="post" asp-action="Create">
            @Html.AntiForgeryToken()

            <div style="display: none" class="form-group">
                <input type="hidden" id="Id" name="Id" asp-for="Id"/>
            </div>

            <div class="mb-3 form-group">
                @Html.LabelFor(m => m.Number, "Номер заказа")
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3 align-items-center row form-group">
                <div class="col"> @Html.LabelFor(m => m.Date, "Дата заказа")</div>
                <div class="col">
                    <input asp-for="@Model.Date" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3 form-group">
                @Html.LabelFor(m => m.ProviderId, "Номер заказа")
                <select asp-for="@Model.ProviderId" class="form-select" asp-items="Model.Providers">
                </select>
                @Html.ValidationMessageFor(m => m.ProviderId, "", new { @class = "text-danger" })
            </div>

            <label class="control-label">Товары</label>
            <table class="table table-bordered text-center table-hover">
                <thead>
                <tr>
                    <td>Наименование</td>
                    <td>Модель</td>
                    <td>Количество</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @if (Model.OrderItems != null)
                {
                    foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => item.Name, new { @class = "form-control", disabled = "", @readonly = "" })
                                @Html.ValidationMessageFor(m => item.Name, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => item.Unit, new { @class = "form-control", disabled = "", @readonly = "" })
                                @Html.ValidationMessageFor(m => item.Unit, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => item.Quantity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => item.Quantity, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                <a type="button" class="btn btn-light" asp-controller="OrderItem" asp-action="Edit" asp-route-id="@item.Id">Ред.</a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-light" asp-controller="OrderItem" asp-action="Delete" asp-route-id="@item.Id">X</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "OrderItem", new { orderId = Model.Id })'">Добавить товар</button>
            </div>

            <div class="form-group d-grid gap-2">
                <input class="btn btn-success" type="submit" value="Сохранить"/>
                <a class="btn btn-danger" type="button" asp-controller="Order" asp-action="Index">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}