@model project.ViewModels.OrdersViewModel
@{
    ViewData["Title"] = "Главная страница";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="get">
    <div class="mb-3">
        <div class="row mb-2">
            <div class="col">
                Номер заказа:
                <select class="form-select" name="selectedNumber" asp-items="@Model.OrdersNumbers">
                    <option value="">не выбрано</option>
                </select>
            </div>
            <div class="col">
                Поставщик:
                <select class="form-select" name="selectedProvider" asp-items="@Model.Providers">
                    <option value="">не выбрано</option>
                </select>
            </div>
            <div class="col">
                Наименование товара:
                <select class="form-select" name="selectedItem" asp-items="@Model.ItemsNames">
                    <option value="">не выбрано</option>
                </select>
            </div>
            <div class="col">
                Модель товара:
                <select class="form-select" name="selectedUnit" asp-items="@Model.Units">
                    <option value="">не выбрано</option>
                </select>
            </div>
        </div>
        <div class="row row-cols-lg-auto align-items-end">
            <div class="col-12">
                Начальная дата: <input class="form-control" type="date" name="startDate" value=@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")/>
            </div>
            <div class="col-12">
                Конечная дата: <input class="form-control" type="date" name="endDate" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-primary btn-sm" value="Применить"/>
                <a class="btn btn-outline-secondary btn-sm" asp-controller="Order" asp-action="Index">Сброс</a>
            </div>
        </div>
    </div>
</form>

@Html.ActionLink("Создать новый заказ", "Create", "Order", 0, new { @class = "btn btn-primary mb-3" })

<table class="table table-bordered text-center table-hover table-striped" id="orders">
    <thead class="table-light">
    <tr>
        <th scope="col" hidden="hidden" style="display: none">id</th>
        <th scope="col">Номер заказа</th>
        <th scope="col">Дата заказа</th>
        <th scope="col">Поставщик</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Orders != null)
    {
        @foreach (var p in Model.Orders)
        {
            <tr class="text-center align-middle" style="cursor: pointer;" onclick="location.href = '@Url.Action("Details", "Order", new { id = p.Id })'">
                <td style="display:none">
                    @Html.DisplayFor(m => p.Id)
                </td>
                <td >
                    @Html.DisplayFor(m => p.Number)
                </td>
                <td >
                    @Html.DisplayFor(m => p.Date)
                </td>
                <td >
                    @Html.DisplayFor(m => p.Provider.Name)
                </td>
            </tr>
        }
    }
    </tbody>
</table>